<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SlimeFun</string>
	<key>ordering</key>
	<array>
		<string>39985d08-6c2e-4beb-82bf-7cc60e309be6</string>
	</array>
	<key>uuid</key>
	<string>3d265891-cbc7-4685-a81e-8ec2f6f4c409</string>
</dict>
</plist>